<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
<style>
    .header {
        display: flex;
        justify-content: space-between;
    }
    body {
        padding-bottom: 40px;
    }
    .title, .date {
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        width: 33%;
    }
    .title {
        font-weight: 500;
        font-size: 48px;
        text-align: left;
    }
    .date {
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
</style>
</head>
<body>
    <div class="header">
        <div class="title">Influencers</div>
        <div class="date">January 1 - January 31, 2021</div>
    </div>
</body>
</html>
