<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #ffffff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        thead {
          display: table-header-group;
        }
        tr {
          page-break-inside: avoid;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Influencers</th>
                <th>Followers</th>
                <th>Engagement (General)</th>
                <th>Engagement (Specific)</th>
                <th>Comments</th>
                <th>Likes</th>
                <th>Posts</th>
                <th>Post Mentions</th>
                <th>Post Hashtags</th>
                <th>Score</th>
            </tr>
        </thead>
        
        <tr>
            <td>feliciafjallkeborn</td>
            <td>9805</td>
            <td>32.44</td>
            <td>6.79</td>
            <td>297</td>
            <td>2884</td>
            <td>10</td>
            <td>3</td>
            <td>15</td>
            <td>28</td>
        </tr>
        
        <tr>
            <td>almabsvanqvist</td>
            <td>10701</td>
            <td>12.83</td>
            <td>6.92</td>
            <td>37</td>
            <td>1336</td>
            <td>7</td>
            <td>4</td>
            <td>12</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>interiorbyalexaandraq</td>
            <td>57727</td>
            <td>1.24</td>
            <td>1.24</td>
            <td>112</td>
            <td>603</td>
            <td>4</td>
            <td>8</td>
            <td>8</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>elihome_style</td>
            <td>2598</td>
            <td>18.44</td>
            <td>18.44</td>
            <td>74</td>
            <td>405</td>
            <td>5</td>
            <td>5</td>
            <td>9</td>
            <td>19</td>
        </tr>
        
        <tr>
            <td>eelinerikssonn</td>
            <td>6878</td>
            <td>15.38</td>
            <td>2.47</td>
            <td>51</td>
            <td>1007</td>
            <td>6</td>
            <td>1</td>
            <td>12</td>
            <td>19</td>
        </tr>
        
        <tr>
            <td>mariabusck</td>
            <td>15126</td>
            <td>11.22</td>
            <td>11.22</td>
            <td>174</td>
            <td>1523</td>
            <td>5</td>
            <td>7</td>
            <td>4</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>beauteaxb</td>
            <td>5403</td>
            <td>24.76</td>
            <td>24.76</td>
            <td>179</td>
            <td>1159</td>
            <td>3</td>
            <td>5</td>
            <td>6</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>susanneejulia</td>
            <td>13922</td>
            <td>7.86</td>
            <td>6.16</td>
            <td>189</td>
            <td>905</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>13</td>
        </tr>
        
        <tr>
            <td>ameliedynesius</td>
            <td>14370</td>
            <td>13.17</td>
            <td>13.17</td>
            <td>167</td>
            <td>1725</td>
            <td>3</td>
            <td>3</td>
            <td>6</td>
            <td>12</td>
        </tr>
        
        <tr>
            <td>mrswallins</td>
            <td>8787</td>
            <td>6.13</td>
            <td>4.12</td>
            <td>56</td>
            <td>483</td>
            <td>3</td>
            <td>2</td>
            <td>6</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>lindanosskire</td>
            <td>9844</td>
            <td>17.58</td>
            <td>11.83</td>
            <td>128</td>
            <td>1603</td>
            <td>3</td>
            <td>2</td>
            <td>6</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>sandraanordstrm</td>
            <td>6555</td>
            <td>17.62</td>
            <td>5.52</td>
            <td>69</td>
            <td>1086</td>
            <td>3</td>
            <td>1</td>
            <td>5</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>skitunge_</td>
            <td>4862</td>
            <td>5.12</td>
            <td>2.69</td>
            <td>39</td>
            <td>210</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>georgina.youkhana</td>
            <td>12201</td>
            <td>7.48</td>
            <td>7.48</td>
            <td>31</td>
            <td>882</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>rebeccashem</td>
            <td>2573</td>
            <td>9.52</td>
            <td>4.62</td>
            <td>33</td>
            <td>212</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>negintahaa</td>
            <td>10827</td>
            <td>14.75</td>
            <td>14.75</td>
            <td>143</td>
            <td>1454</td>
            <td>3</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>annanataliie</td>
            <td>5576</td>
            <td>11.07</td>
            <td>4.0</td>
            <td>71</td>
            <td>546</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>caroliinelindberg</td>
            <td>14498</td>
            <td>3.4</td>
            <td>3.4</td>
            <td>56</td>
            <td>437</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>8</td>
        </tr>
        
        <tr>
            <td>sofiestille</td>
            <td>4906</td>
            <td>8.54</td>
            <td>8.54</td>
            <td>13</td>
            <td>406</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>7</td>
        </tr>
        
        <tr>
            <td>hemmahosossifullero</td>
            <td>6161</td>
            <td>7.0</td>
            <td>7.0</td>
            <td>121</td>
            <td>310</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>7</td>
        </tr>
        
        <tr>
            <td>hannalindholm</td>
            <td>11495</td>
            <td>8.44</td>
            <td>8.44</td>
            <td>208</td>
            <td>762</td>
            <td>2</td>
            <td>2</td>
            <td>3</td>
            <td>7</td>
        </tr>
        
        <tr>
            <td>arinoderaa</td>
            <td>14485</td>
            <td>6.72</td>
            <td>6.72</td>
            <td>51</td>
            <td>923</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
            <td>7</td>
        </tr>
        
        <tr>
            <td>skanelangan</td>
            <td>7772</td>
            <td>4.08</td>
            <td>4.08</td>
            <td>67</td>
            <td>250</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>hannaisberg</td>
            <td>2349</td>
            <td>12.86</td>
            <td>12.86</td>
            <td>10</td>
            <td>292</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>nataliecregard</td>
            <td>11136</td>
            <td>5.72</td>
            <td>5.72</td>
            <td>68</td>
            <td>569</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>nathalievesterlund</td>
            <td>11000</td>
            <td>5.42</td>
            <td>0.0</td>
            <td>51</td>
            <td>545</td>
            <td>2</td>
            <td>0</td>
            <td>4</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>sandra.johannessens</td>
            <td>2425</td>
            <td>17.07</td>
            <td>17.07</td>
            <td>32</td>
            <td>382</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>feliciagrossmann</td>
            <td>4441</td>
            <td>7.66</td>
            <td>7.66</td>
            <td>48</td>
            <td>292</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>josefineiivarsson</td>
            <td>32374</td>
            <td>6.66</td>
            <td>2.8</td>
            <td>143</td>
            <td>2012</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>interiorlifestylebyme</td>
            <td>23870</td>
            <td>1.02</td>
            <td>1.02</td>
            <td>46</td>
            <td>197</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>pellpersviken</td>
            <td>3269</td>
            <td>3.88</td>
            <td>3.88</td>
            <td>30</td>
            <td>97</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>filippa.ps</td>
            <td>2529</td>
            <td>4.07</td>
            <td>4.07</td>
            <td>4</td>
            <td>99</td>
            <td>1</td>
            <td>3</td>
            <td>1</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>steefii</td>
            <td>4509</td>
            <td>7.14</td>
            <td>4.1</td>
            <td>37</td>
            <td>285</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>lejlazzz</td>
            <td>25805</td>
            <td>0.6</td>
            <td>0.6</td>
            <td>21</td>
            <td>135</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>svartvitacitroner</td>
            <td>9565</td>
            <td>2.96</td>
            <td>2.96</td>
            <td>66</td>
            <td>217</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>emmahq</td>
            <td>7636</td>
            <td>8.75</td>
            <td>8.75</td>
            <td>222</td>
            <td>446</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>jasminnikolausson</td>
            <td>2261</td>
            <td>3.8</td>
            <td>3.8</td>
            <td>2</td>
            <td>84</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>littlesisterholmgren</td>
            <td>11466</td>
            <td>5.24</td>
            <td>5.24</td>
            <td>24</td>
            <td>577</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>houseofmandy</td>
            <td>5626</td>
            <td>1.94</td>
            <td>1.94</td>
            <td>9</td>
            <td>100</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>mercilja</td>
            <td>55930</td>
            <td>0.63</td>
            <td>0.63</td>
            <td>28</td>
            <td>327</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>kagahem</td>
            <td>42521</td>
            <td>1.82</td>
            <td>1.82</td>
            <td>98</td>
            <td>676</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>lindafekete</td>
            <td>4382</td>
            <td>2.01</td>
            <td>2.01</td>
            <td>2</td>
            <td>86</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>juliajosefinas</td>
            <td>31198</td>
            <td>5.2</td>
            <td>5.2</td>
            <td>0</td>
            <td>1622</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>mikkirosenlind</td>
            <td>3757</td>
            <td>12.59</td>
            <td>12.59</td>
            <td>35</td>
            <td>438</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>monikawolff</td>
            <td>28954</td>
            <td>1.69</td>
            <td>0.0</td>
            <td>45</td>
            <td>443</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>mooandersson</td>
            <td>2725</td>
            <td>13.25</td>
            <td>13.25</td>
            <td>27</td>
            <td>334</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>mrsdemiiir</td>
            <td>12568</td>
            <td>2.34</td>
            <td>2.34</td>
            <td>29</td>
            <td>265</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>nicolinehedlund</td>
            <td>33060</td>
            <td>1.89</td>
            <td>1.89</td>
            <td>5</td>
            <td>620</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>r.u.home</td>
            <td>10718</td>
            <td>4.24</td>
            <td>4.24</td>
            <td>98</td>
            <td>356</td>
            <td>1</td>
            <td>3</td>
            <td>0</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>sandblomman_interior</td>
            <td>26855</td>
            <td>3.57</td>
            <td>3.57</td>
            <td>277</td>
            <td>681</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>sstyling.t</td>
            <td>4482</td>
            <td>7.97</td>
            <td>7.97</td>
            <td>54</td>
            <td>303</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>susannemelker</td>
            <td>9163</td>
            <td>4.63</td>
            <td>4.63</td>
            <td>34</td>
            <td>390</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>wickanahlin</td>
            <td>11093</td>
            <td>1.49</td>
            <td>1.49</td>
            <td>5</td>
            <td>160</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>josefinirming</td>
            <td>28251</td>
            <td>1.76</td>
            <td>1.76</td>
            <td>37</td>
            <td>461</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>zabalifestyle</td>
            <td>10913</td>
            <td>2.53</td>
            <td>2.53</td>
            <td>108</td>
            <td>168</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>jolandaedvardsson</td>
            <td>3144</td>
            <td>3.15</td>
            <td>3.15</td>
            <td>2</td>
            <td>97</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>interior.shirin</td>
            <td>12627</td>
            <td>3.84</td>
            <td>3.84</td>
            <td>47</td>
            <td>438</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>emmajennie</td>
            <td>25890</td>
            <td>1.32</td>
            <td>1.32</td>
            <td>26</td>
            <td>316</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>ellensvenssons</td>
            <td>4943</td>
            <td>6.15</td>
            <td>6.15</td>
            <td>15</td>
            <td>289</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>idabergmans</td>
            <td>8190</td>
            <td>4.63</td>
            <td>4.63</td>
            <td>38</td>
            <td>341</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>cattisjansson</td>
            <td>7987</td>
            <td>1.97</td>
            <td>1.97</td>
            <td>20</td>
            <td>137</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>interiorbycarro</td>
            <td>3792</td>
            <td>2.16</td>
            <td>2.16</td>
            <td>3</td>
            <td>79</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>bellaamaa</td>
            <td>4211</td>
            <td>12.3</td>
            <td>12.3</td>
            <td>43</td>
            <td>475</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>interiorby.linda</td>
            <td>13030</td>
            <td>1.78</td>
            <td>1.78</td>
            <td>45</td>
            <td>187</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>jhnajhnsn</td>
            <td>2762</td>
            <td>2.82</td>
            <td>2.82</td>
            <td>2</td>
            <td>76</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>adrianabrunstrom</td>
            <td>3705</td>
            <td>9.01</td>
            <td>9.01</td>
            <td>11</td>
            <td>323</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>agentnass</td>
            <td>12625</td>
            <td>5.61</td>
            <td>5.61</td>
            <td>53</td>
            <td>655</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>jennytheone</td>
            <td>2176</td>
            <td>12.36</td>
            <td>12.36</td>
            <td>13</td>
            <td>256</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>jairarickard</td>
            <td>3326</td>
            <td>2.41</td>
            <td>2.41</td>
            <td>0</td>
            <td>80</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>aqvistemilia</td>
            <td>4420</td>
            <td>7.58</td>
            <td>7.58</td>
            <td>21</td>
            <td>314</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>sandrastjerneus</td>
            <td>33723</td>
            <td>2.44</td>
            <td>2.44</td>
            <td>29</td>
            <td>793</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>nilsssonebba</td>
            <td>1634</td>
            <td>20.62</td>
            <td>20.62</td>
            <td>13</td>
            <td>324</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>patriciaespe1</td>
            <td>6457</td>
            <td>2.09</td>
            <td>2.09</td>
            <td>10</td>
            <td>125</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>emmasveningsson</td>
            <td>3096</td>
            <td>6.62</td>
            <td>6.62</td>
            <td>4</td>
            <td>201</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>victoriasylwander</td>
            <td>31776</td>
            <td>7.04</td>
            <td>7.04</td>
            <td>52</td>
            <td>2184</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>elin_rantatalo</td>
            <td>12021</td>
            <td>7.82</td>
            <td>0.0</td>
            <td>36</td>
            <td>904</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>saralantz</td>
            <td>4028</td>
            <td>4.84</td>
            <td>4.84</td>
            <td>1</td>
            <td>194</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>sarah.hertzberg</td>
            <td>2011</td>
            <td>3.63</td>
            <td>3.63</td>
            <td>2</td>
            <td>71</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>saramansberg</td>
            <td>4712</td>
            <td>6.58</td>
            <td>6.58</td>
            <td>15</td>
            <td>295</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>claraklefbom</td>
            <td>2078</td>
            <td>5.92</td>
            <td>5.92</td>
            <td>4</td>
            <td>119</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>victoriaberglund</td>
            <td>6120</td>
            <td>5.88</td>
            <td>5.88</td>
            <td>30</td>
            <td>330</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>emmawesterlundd</td>
            <td>5537</td>
            <td>8.38</td>
            <td>8.38</td>
            <td>5</td>
            <td>459</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>amandaedvardssson</td>
            <td>2315</td>
            <td>12.66</td>
            <td>0.0</td>
            <td>3</td>
            <td>290</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>anna.lena.nn</td>
            <td>2786</td>
            <td>4.67</td>
            <td>0.0</td>
            <td>16</td>
            <td>114</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>starwoman1</td>
            <td>31035</td>
            <td>2.07</td>
            <td>2.07</td>
            <td>39</td>
            <td>603</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>bellasundqvist</td>
            <td>9134</td>
            <td>3.73</td>
            <td>3.73</td>
            <td>5</td>
            <td>336</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>ericahammar</td>
            <td>2245</td>
            <td>9.49</td>
            <td>9.49</td>
            <td>19</td>
            <td>194</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>matildaberlin</td>
            <td>4075</td>
            <td>2.26</td>
            <td>2.26</td>
            <td>6</td>
            <td>86</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>inesavdagicc</td>
            <td>9946</td>
            <td>0.61</td>
            <td>0.61</td>
            <td>3</td>
            <td>58</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>juliagerser</td>
            <td>3817</td>
            <td>5.32</td>
            <td>5.32</td>
            <td>15</td>
            <td>188</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>kajsaemma</td>
            <td>2717</td>
            <td>2.91</td>
            <td>2.91</td>
            <td>22</td>
            <td>57</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>kellycsorbova</td>
            <td>7375</td>
            <td>4.95</td>
            <td>4.95</td>
            <td>20</td>
            <td>345</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>jennifererikssons</td>
            <td>4203</td>
            <td>2.31</td>
            <td>2.31</td>
            <td>6</td>
            <td>91</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>lindalinchis</td>
            <td>12337</td>
            <td>2.59</td>
            <td>2.59</td>
            <td>70</td>
            <td>249</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>loovelyhome</td>
            <td>3960</td>
            <td>8.03</td>
            <td>8.03</td>
            <td>110</td>
            <td>208</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>mariellaesborn</td>
            <td>4245</td>
            <td>4.29</td>
            <td>4.29</td>
            <td>17</td>
            <td>165</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>inspirationbyzandra</td>
            <td>15985</td>
            <td>2.86</td>
            <td>2.86</td>
            <td>88</td>
            <td>369</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>aalliicciiaan</td>
            <td>8521</td>
            <td>2.77</td>
            <td>2.77</td>
            <td>2</td>
            <td>234</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>moagoransson</td>
            <td>1500</td>
            <td>4.53</td>
            <td>4.53</td>
            <td>1</td>
            <td>67</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>husnr.22</td>
            <td>11540</td>
            <td>3.15</td>
            <td>3.15</td>
            <td>102</td>
            <td>262</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>gabicalafell</td>
            <td>18435</td>
            <td>2.37</td>
            <td>2.37</td>
            <td>54</td>
            <td>382</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>nadjasteding</td>
            <td>2830</td>
            <td>5.62</td>
            <td>5.62</td>
            <td>17</td>
            <td>142</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>hafsaxahmed</td>
            <td>3953</td>
            <td>6.88</td>
            <td>0.0</td>
            <td>6</td>
            <td>266</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>hemmavidhavet</td>
            <td>27423</td>
            <td>0.85</td>
            <td>0.85</td>
            <td>20</td>
            <td>214</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        
        <tr>
            <td>maliinbjork</td>
            <td>1840</td>
            <td>5.82</td>
            <td>5.82</td>
            <td>2</td>
            <td>105</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>slaysistam</td>
            <td>10070</td>
            <td>5.37</td>
            <td>5.37</td>
            <td>43</td>
            <td>498</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>linneaekelundd</td>
            <td>4208</td>
            <td>3.92</td>
            <td>3.92</td>
            <td>20</td>
            <td>145</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>melanieanorman</td>
            <td>3672</td>
            <td>10.51</td>
            <td>10.51</td>
            <td>1</td>
            <td>385</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>emma_enbom</td>
            <td>17254</td>
            <td>3.7</td>
            <td>3.7</td>
            <td>101</td>
            <td>538</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>kristinakorpics</td>
            <td>7266</td>
            <td>4.78</td>
            <td>4.78</td>
            <td>41</td>
            <td>306</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>danniberglund</td>
            <td>3027</td>
            <td>5.22</td>
            <td>5.22</td>
            <td>19</td>
            <td>139</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>thereserandow</td>
            <td>17061</td>
            <td>1.47</td>
            <td>0.0</td>
            <td>12</td>
            <td>238</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>felicialindblom</td>
            <td>2554</td>
            <td>3.52</td>
            <td>3.52</td>
            <td>8</td>
            <td>82</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>adelinaadelina</td>
            <td>4408</td>
            <td>1.95</td>
            <td>1.95</td>
            <td>18</td>
            <td>68</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>sheerinjamsheree</td>
            <td>11078</td>
            <td>3.45</td>
            <td>0.0</td>
            <td>47</td>
            <td>335</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>nellyavagjan</td>
            <td>5653</td>
            <td>2.69</td>
            <td>0.0</td>
            <td>16</td>
            <td>136</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
        </tr>
        
    </table>
</body>
</html>